header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    li {
        list-style: none;
        display: inline-block;
        padding: 5px 10px;
        &.active {
            background-color: #daedf3;
            font-weight: bold;
        }
    }
}
